.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 200px; /* Adiciona margem superior */
    margin-left: 20px; /* Margem esquerda */
    margin-right: 20px; /* Margem direita */
    margin-bottom: 20px; /* Margem inferior */
}

.box {
    width: calc(23% - 20px); /* Subtrai a margem direita da largura */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 20px; /* Margem direita entre as caixas */
    background-color: #FFFFFF; 
    text-align: center;
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Times New Roman", Times, serif; /* Mudar a fonte para Times New Roman */
}

.box img {
    width: 100%;
    height: auto;
}

.box h3 {
    margin: 10px 0;
    
}

.box p {
    margin: 0;
}

.stars {
    color: gold;
    font-size: 20px;
  }

body {
    background-color: #F5F5DC;
    background-image: url("background1.jpg");
    background-repeat: no-repeat;
    background-size: cover,;
    background-position: top left, ;
}

footer{
    background-color: #C6302C;
}

.rectangle {
    background-color:  #C6302C;
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: auto;
    left: 0;
}

.rectangle img {
    position: absolute;
    left: 40px;
    top: 30px;
    width: 150px;
    height: 150px;
}

.footer-text {
    font-size: 14px;
    color: white;
    position: absolute;
    right: 30px;
    top: 30px;
  }


  .footer-text p:nth-child(1)::before {
    content: "\260E"; /* Código para o símbolo do telefone */
    margin-right: 5px;
  }

  .footer-text p:nth-child(2)::before {
    content: "\1F4F1"; 
    margin-right: 5px;
  }


  .footer-text p:nth-child(3)::before {
    content: "\1F3E0"; /* Código para o símbolo do endereço */
    margin-right: 5px;
  }