<html>
    <head>
        <title> {% block title %} SmartSprout {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SS.css') }}">
    </head>
    <body class="body">
        <div class="selector">
            <img class="logo" src="../static/img/logo.jpg" alt="Logo">

            <a class="ss1" href="">SmartSprout</a>
        
            <a class="tab1" href="">Aparelhos</a>
            
            <a class="tab2" href="">Gestao</a>
        
            <a class="login1" href="/">Login</a>
            
            <b class="cadastro1" href="/cadastrar">Cadastrar</b>
        </div>
        <div class="login2">
            <form class="Entrar" action= "http://localhost:8080/create_user" method= "POST">
                <a > Criar uma nova conta </a>
                <p>Usuário:</p>
                <p class="botao"><input type = "text" name = "user" placeholder="Nome" required/></p>
                <p>Senha:</p>
                <p class="botao"><input type = "text" name = "password" placeholder="Senha" required/></p>
                <p class="botao"><input type = "submit" value = "Cadastrar" /></p>
            </form>
        </div>
        <div>
            {% block content %} {% endblock %}
        </div>
       
        
    </body>
</html>