<html>
    <head>
        <title> {% block title %} SmartSprout {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SS.css') }}">
    </head>
    <body class="body">
        <div class="selector">
            <img class="logo" src="../static/img/logo.jpg" alt="Logo">

            <a class="ss1" href="/">SmartSprout</a>
        
            <b class="tab1" href="">Aparelhos</b>
            
            <a class="tab2" href="/">Gestao</a>
        
            <b class="login1" href="">Login</b>
            
            <b class="cadastro1" href="">Cadastrar</b>
        </div>
        <div>
            {% block content %} {% endblock %}
        </div>
       
        
    </body>
</html>