<html>
    <head>
        <title> {% block title %} SmartSprout {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SS.css') }}">
    </head>
    <body class="body">
        <div class="selector">
            <img class="logo" src="../static/img/logo.jpg" alt="Logo">
            
            <a class="ss1" href="/">SmartSprout</a>
        
            <a class="tab1" href="/admin_dash">Aparelhos</a>
            
            <b class="tab2" href="/gestao">Gestao</b>
        
            <a class="login1" href="/">Login</a>
            
            <a class="cadastro1" href="/">Cadastrar</a>
        </div>
        <div class="view_users">
            <div class="user_box">
                <b class="ss1"> Adicionar usuario:</b>
                <form action = "http://localhost:8080/add_user" method = "post">
                    <p class="botao"><input type = "text" name = "user" placeholder="Nome do usuario" required/></p>
                    <p class="botao"><input type = "text" name = "password" placeholder="Senha do usuario" required/></p>
                    <p><input class="cadastrar_button" type = "submit" value = "Cadastrar" /></p>
                </form>
            </div>
            

            <div class="user_list">
                {% for nome,senha in usuarios.items() %}
                <div class="user_box">
                    <b class="user_text"> Nome:  {{nome}} </b> 
                    
                    <b class="user_text"> Senha:  {{senha}} </b>
                    <br>
                    <form action="/edit_user" method="post">
                        <input type="hidden" name="user" value="{{ nome }}"> 
                        <p><input class="novo_nome_button" type="text" name="new_name" placeholder="Novo nome do usuário" required/> </p>
                        <p> <input class="edit_button" type="submit" value="EDITAR"> </p>
                    </form>
                    <form action="/del_user" method="post">
                        <input type="hidden" name="user" value="{{ nome }}"> 
                        <input  class="del_button" type="submit" value="DELETAR">
                    </form>
                </div>
                {% endfor %}
                
            </div>
        </div>
        <div class="view_products">
            <div class="product_box">
                <b class="ss1"> Adicionar produto:</b>
                <form action = "add_product" method = "post">
                    <p class="botao"><input type = "text" name = "nome" placeholder="Nome do produto" required/></p>
                    <p class="botao"><input type = "text" name = "id" placeholder="ID do produto" required/></p>
                    <p><input class="add_button" type = "submit" value = "Cadastrar" /></p>
                </form>
            </div>

            <div class="product_list">
                {% for nome,id in produtos.items() %}
                <div class="product_box">
                    <div class="product_card">
                        <b class="user_text"> Nome do produto: {{nome}} </b> 
                        <br> 
                        <b class="user_text"> ID: {{id}} </b>
                        <br>
                    </div>
                
                </div>
                {% endfor %}
            </div>


        </div>
        
        
    </body>
</html>