<html>
    <head>
        <title> {% block title %} SmartSprout {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SS.css') }}">
    </head>
    <body class="body">
        <div class="selector">
            <img class="logo" src="../static/img/logo.jpg" alt="Logo">

            <a class="ss1" href="/">SmartSprout</a>
        
            <a class="tab1" href="">Aparelhos</a>
            
            <a class="tab2" href="">Gestao</a>
        
            <b class="login1" href="/">Login</b>
            
            <a class="cadastro1" href="/cadastro">Cadastrar</a>
        </div>
        <div class="login2">
            <b class="Entrar"> Entrar na SmartSprout</b>
            <form action = "/validated_user" method = "post">
                <p class="botao"><input type = "text" name = "user" placeholder="Usuario" required/></p>
                <p class="botao"><input type = "text" name = "password" placeholder="Senha" required/></p>
                <p class="botao"><input type = "submit" value = "Entrar" /></p>
                <a class="Entrar" href="/cadastro"> Não possui uma conta? Se cadastre </a>
                </form>
        </div>
        <div>
            {% block content %} {% endblock %}
        </div>
       
        
    </body>
</html>